name: Demo Workflow
on:
    pull_request:
        types:
            - opened
            - edited
    workflow_dispatch:
    push:
        branches:
            - main
            - master
        paths-ignore:
            - '.github/workflows/*'
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greetings
        run: echo "Hello World!"
      - name: Print goodbye 
        run: echo "Done - bye!"
      - name: Muti-line shell script
        run: |
          echo "First output"
          echo "Second output"

